<header class="d-flex justify-content-between align-items-center">
    <div class="d-flex">
        <div class="header_logo">
            <img src="./assets/images/logo.svg" alt="logo">
        </div>
        <div class="user_name">
            <h4>hello: nicolas</h4>
        </div>
    </div>
    <div class="header_actions">
        <div class="user_img">
            <img src="./assets/images/user.png" alt="user">
        </div>

        <div class="notifications">
            <div>
                <i class="far fa-bell"></i>
            </div>
        </div>
        <div class="setting">
            <div>
                <i class="fas fa-cog"></i>
            </div>
        </div>
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search for something">
        </div>

    </div>
</header>