<section class="signup-section m-0 overflow-x-hidden vh-100 p-4 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="heading d-flex justify-content-center mb-4">
            <a routerLink="/"><img src="./assets/images/studentgator-logo.svg" alt="logo" height="50px"></a>
        </div>
        <div class="signup-card bg-white rounded-5 w-50  m-auto">
             <div class="card-con p-4">
                  <div class="row card-content d-flex justify-content-between w-100">
                    <div class="col-8 card-left-content">
                        <div class="card-title text-center text-black mb-3">
                            <h3>Sign Up</h3>
                        </div>
                    <div class="card-left-con pt-4">
                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="fname" class="position-absolute px-2">First Name</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="lname" class="position-absolute px-2">Last Name</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="phone" class="position-absolute px-2">Mobile Number</label>
                                        <input type="tel" class="border-0 w-100 bg-white ps-2" >
                                      
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="email" class="position-absolute px-2">Email address</label>
                                        <input type="email" class="border-0 w-100 bg-white ps-2" >
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="age" class="position-absolute px-2">Country</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                                      </div>
                                </div>

                                <div class="col-6">
                                    <div class="input-caption position-relative mb-4 p-3 rounded-5">
                                        <label for="age" class="position-absolute px-2">Your age</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                                      </div>
                                </div>
                                
                                <div class="col-6">
                                    <div class="input-caption position-relative p-3 rounded-5 mb-4">
                                        <label for="password" class="position-absolute px-2">Password</label>
                                        <input type="password" class="border-0 w-100 bg-white ps-2">
                                      </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative p-3 rounded-5 mb-4">
                                        <label for="password" class="position-absolute px-2">Confirm Password</label>
                                        <input type="password" class="border-0 w-100 bg-white ps-2">
                                      </div>
                                </div>
                            </div>
                        
                         
                        
                       <div class="login-btn d-flex m-auto mb-4 w-75">
                        <button class="w-100 border-0 rounded-5 px-4 py-3 text-light">Sign up  <img src="./assets/images/login-page/right-arrow.png" class="ms-2" alt=""></button>
                       
                       </div>
                        </form>
                        <p class="text-center mb-4 pb-2">Already have an account? <a routerLink="/login" class="sign-up">Login</a></p>
                         <div class="br-line-caption border-bottom position-relative w-100 mb-4">
                         
                            <p class="px-3 py-0 bg-white position-absolute">Or Sign up with</p>
                         </div>
                         <ul class="social-icons d-flex justify-content-between list-unstyled w-25 mx-auto">
                            <li><a href=""><img src="./assets/images/login-page/fb.png"class="me-3" alt="fb-icon"></a></li>
                            <li><a href=""><img src="./assets/images/login-page/google.png" class="me-3" alt="google-icon"></a></li>
                            <li><a href=""><img src="./assets/images/login-page/microsoft.png" class="me-3" alt="microsoft-icon"></a></li>
    
                         </ul>
    
                    </div>
                    </div>
                    <div class="col-4 card-right d-flex align-items-center pe-0">
                        <img src="./assets/images/login-page/loginImage.png" class="w-100 p-0 my-0" alt="">
                    </div>
                  </div>
             </div>
        </div>
    </div>
    </section>
    
    
    
    
    
    
    
    
  

