@import  '../../../../default.scss';

section{
    background: linear-gradient(to right,$left-color,$right-color);
    box-sizing: border-box;

    
        .signup-card{
            .card-left-content{
                color: #9A9A9A;
                
                
                form{
                    .input-caption{
                        border: 1px solid $border-color;
                        box-shadow: $border-shadow;
                        width:100% !important;
                        input{
                            box-sizing: border-box;
                        }
                        input::placeholder{
                            color: #9A9A9A;
                        }
                        input:focus{
                            outline: none;
                        }
                        input:hover{
                            background-color: white;
                        }
                        //to change autofill background color for input
                        input:-webkit-autofill,
                        input:-webkit-autofill:hover,
                        input:-webkit-autofill:focus,
                        input:-webkit-autofill:active {
                            transition: background-color 5000000s ease-in-out 0s !important;
                        }

                        label{
                            top:-15px;
                            left: 30px;
                            color: $State-Color-1;
                            background-color: white;
                            font-weight:600;
                            
                        }
                       
                    }
                    
                    .login-btn{
                        width:98%;
                        button{
                            background-color: $button-color;
                        }
                    }
                }
                .sign-up{
                    color: $State-Color-1;
                    font-weight: 600;
                    text-decoration: none;
                    cursor: pointer;
                }
                .br-line-caption{
                    p{
                        top:-14px;
                        left:35%;
                    }
                }
            }
        }
    
}

@media only screen and (max-width:830px) {
    section{
        .login-card{
            width:100% !important;
            .card-left-content{
                width: 100% ;
                padding-right: 0;
            }
            .card-right{
                display: none !important; 
            }
        }
    }

}
@media only screen and (max-width: 1199.9px) and (min-width: 831px){
    section{
        .login-card{
            width: 80% !important;
        }
    }
} 