<section class="login-section bg-info m-0 overflow-x-hidden vh-100 p-4 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="heading d-flex justify-content-center mb-4">
            <img src="./assets/images/studentgator-logo.svg" alt="logo" height="50px">
        </div>
        <div class="login-card bg-white rounded-5 w-50  m-auto">
             <div class="card-con py-5 px-3">
                  <div class="row card-content d-flex justify-content-between w-100">
                 
                    <div class="col-6 card-left-content">
                        <div class="card-title mt-4 text-center text-black mb-4">
                            <h3>Forgot Your Password?</h3>
                        </div>
                       <div class="card-left-con pt-4">
                        <form>
                          <div class="input-caption position-relative mb-5 p-3 rounded-5">
                            <label for="email" class="position-absolute px-2">Your email</label>
                            <input type="email" class="border-0 w-100 bg-white ps-2" >
                          </div>
                         
                       <div class="login-btn d-flex me-auto mb-4">
                        <button class="w-100 border-0 rounded-5 px-4 py-3 text-light">Submit <img src="./assets/images/login-page/right-arrow.png" class="ms-2" alt=""></button>
                       
                       </div>
                        </form>
                         <div class="br-line-caption border-bottom position-relative w-100 mb-4 mt-5">
                         
                            <p class="px-3 py-0 bg-white position-absolute">Or login with</p>
                         </div>
                         <ul class="social-icons d-flex justify-content-between list-unstyled w-25 mx-auto">
                            <li><a href=""><img src="./assets/images/login-page/fb.png"class="me-3" alt="fb-icon"></a></li>
                            <li><a href=""><img src="./assets/images/login-page/google.png" class="me-3" alt="google-icon"></a></li>
                            <li><a href=""><img src="./assets/images/apple.png" class="me-3" alt="microsoft-icon"></a></li>
    
                         </ul>
    
                       </div>
                    </div>
                    <div class="col-6 card-right d-flex align-items-center pe-0">
                        <img src="./assets/images/login-page/loginImage.png" class="w-100 p-0" alt="">
                    </div>
                  </div>
             </div>
        </div>
    </div>
    </section>
    
    
    
    
    
    
    
    
    
