<div class="d-flex justify-content-center flex-column align-items-center" class="add_msg">
    <img src="./assets/images/Frame.svg" alt="img" class="add_program_img">
    <h3 class="add_program_title">You should add program to change this status</h3>
    <div>
        <button class="cancel">Cancel</button>
        <button class="add_pro">
            <i class="fas fa-plus-circle"></i>
            <span>Add program</span>
        </button>
    </div>
</div>


<div>
    <form>
        <h3>Suggested Program 1</h3>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                    <label for="fname" class="position-absolute px-2">First Name</label>
                    <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                    <label for="fname" class="position-absolute px-2">First Name</label>
                    <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe">
                </div>
            </div>
        </div>
    </form>
</div>