@import '../../../default.scss';

.sidebar{
    width: 270px;
    height: 100vh;
    background-color: $sidebar-color;
    padding-right: 20px;
    border: 1px solid $sidebar-border;
    margin-right: 20px;
}
.main_page{
    width: calc(100% - 290px);
    padding-top: 25px;
    padding-right: 15px;
}