<div class="d-flex flex-row-reverse">
    <button class="add_btn">
        <i class="fas fa-plus-circle"></i>
        <span>{{addTitle}}</span>
    </button>
    <div class="component_search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for lead">
    </div>
    <div class="download_btn">
        <i class="fas fa-download"></i>
    </div>
    <div class="line_btn">
        <i class="fas fa-list-ul"></i>
    </div>
    <div class="grid_btn">
        <i class="fas fa-th-large"></i>
    </div>
</div>