@import '../../../../default.scss';
.leads{
    h3{
        font-size: $font-28;
        margin-bottom: 30px;
    }
}

.component_table{
    margin-top: 40px;
    border-radius: 25px;
    overflow: hidden;
    border-color: #eeeeee;
}
table{
    box-shadow: 4px 4px 18px -2px #E7E4E8CC;

}

.p-progressbar{
  height: 8px;
}
.status_styles{
  padding: 10px 0px;
  border-radius: 30px;
  text-align: center;
  color: $main-text;
  font-size: 14px;

  &.sent_to_school{
    background-color: #d6d8f9;
  }
  &.interview_preparation{
    background-color: #FFF2C2;
  }
  &.accepted{
    background-color: #d6d8f9;
  }
  &.alternance_found{
    background-color: #d8d140;
  }
  &.deposi_paid{
    background-color: #B9E5FE;
  }
  &.visa_ok{
    background-color: #67AF80;
  }
  &.visa_ok_Alternance{
    background-color: #67AF80;
  }
  &.visa_rejected{
    background-color: #DDB363;
  }
  &.rejected{
    background-color: #FF5151;
  }
  &.canceled{
    background-color: #FC9A64;
  }

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $State-Color-1
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $State-Color-1
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $State-Color-1
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $State-Color-1
  }
  .selected_select{
    white-space: nowrap;
  }

  
.comment_form{
  h4{
    font-size: $font-20;
    margin-bottom: 20px;

    span{
      font-weight: normal;
      font-size: $font-16
    }
  }
  textarea{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid $border-color;
  }
  h5{
    font-size: $font-14;
    span{
      font-size: $font-12;
      display: block;
      color: $gray;
      margin-top: 5px;
    }
  }
  button{
    border: none;
    border-radius: 10px;
    background-color: $State-Color-1;
    font-size: $font-20;
    padding: 5px 20px;
    color: $white-color;
    transition: $transition2;
    &:hover{
      background-color: $State-Color-2;
      transition: $transition2;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $gray
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $gray
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $gray
  }
  .selected_select{
    white-space: nowrap;
  }
}
