<nav>
    <ul>
        <li>
            <a  routerLink="statistics" routerLinkActive="active_link">
                <i class="fas fa-chart-line"></i>
                <span>Statistics</span>
            </a>
        </li>
        <li>
            <a routerLink="leads" routerLinkActive="active_link">
                <i class="fas fa-user-clock"></i>
                <span>Lead management</span>
            </a>
        </li>
        <li>
            <a routerLink="prospect" routerLinkActive="active_link">
                <i class="fas fa-user-plus"></i>
                <span>Prospect management</span>
            </a>
        </li>
        <li>
            <a routerLink="applications" routerLinkActive="active_link">
                <i class="fas fa-file-alt"></i>
                <span>Applications</span>
            </a>
        </li>
        <li>
            <a>
                <i class="fas fa-users"></i>
                <span>Employee</span>
            </a>
        </li>
        <li>
            <a>
                <i class="far fa-trash-alt"></i>
                <span>Programs</span>
            </a>
        </li>
    </ul>
</nav>