<div class="wrapper">
    <aside id="sidebar">
        <!-- <button type="button" class="border-0"><a routerLink="/"><img src="./assets/images/studentgator-logo.svg" alt="" class="py-3"></a></button> -->
         <ul class="sidebar-nav list-unstyled">
             <li class="sidebar-item">
                <a routerLink="/layout/statistics" routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/fi-rr-chat-arrow-grow.png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Statistics</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/lead"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <!-- <i class="fi fi-rr-user-time"></i> -->
                    <img src="./assets/images/fi-rr-user-time.svg" alt="" width="24px" height="24px" class="filter-black me-3">
                    <span>Lead Management</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/prospect"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/fi-rr-user-add.png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Prospect Mangement</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/applications"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/Vector (2).png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Applications</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/employee"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/Vector (3).png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Employee</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/programs"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/Vector (5).png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Programs</span>
                </a>
             </li>
             <li class="sidebar-item">
                <a routerLink="/layout/archive"  routerLinkActive="active" class="sidebar-link text-decoration-none d-flex align-items-center text-black p-4">
                    <img src="./assets/images/Vector (6).png" width="24px" height="24px"  class="me-3" alt="">
                    <span>Archive</span>
                </a>
             </li>
         </ul>
    </aside>
</div>