<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <img src="./assets/images/noimg.png" alt="lead image" class="lead_img">
        <span class="lead_name">Somaya Ahmed</span>
        <span class="aploaded_documents">Aploaded Documents</span>
    </div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="student_main_data">
    <div>
        <div>
            <i class="fas fa-envelope"></i>
            <span>Somaya.gmail.com</span>
        </div>
        <div>
            <i class="fas fa-phone-alt"></i>
            <span>+33443434343434</span>
            <a href="#"><img src="./assets/images/whatsapp.png"></a>
        </div>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>Morocco</span>
        </div>
    </div>
    <div>
        <div class="representative_data">
            <img src="./assets/images/representative.png">
            <span>Oumaima Elhaddadi</span>
            <span>The Representative</span>
        </div>
    </div>
</div>

<div class="stuent_choies">
    <span class="choies_title">Source</span><span class="choies_data">Facebook</span>
    <span class="choies_title">Previous school</span><span class="choies_data">Skema business school</span>
    <span class="choies_title">School of interest</span><span class="choies_data">Skema business school</span>
    <span class="choies_title">Field of interest</span><span class="choies_data">Master of business</span>
    <span class="choies_title">Intake</span><span class="choies_data">September</span><br>
    <span class="choies_title">Year</span><span class="choies_data">2024</span>
</div>

<div class="representative_comment">
    <label>Comment*</label>
    <textarea></textarea>
</div>
<div class="d-flex align-items-center">
    <img src="./assets/images/noimg.png" alt="lead image" class="lead_img">
    <div>
        <span class="representative_created d-block">Oumaima</span>
        <span class="created_time d-block">10:49 AM</span>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button class="edit_btn">
        <i class="fas fa-pencil-alt"></i>
        <span>Edit</span>
    </button>
</div>