<div class="container modal-con py-4 px-3">
                                        
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Main information" class="mainInfoTab">
        <h3 class="mt-3">Information</h3>  
        <form class="px-1 mb-5 pb-5">
            <div class="row">
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="fname" class="position-absolute px-2">First Name</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe">
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="lname" class="position-absolute px-2">Last Name</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe" >
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Nationality</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="France">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Country of Residence</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="France">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Email</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="Johndoe@gmail.com">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Phone Number</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Maximum budget/year</label>
                        <input type="number" class="border-0 w-100 bg-white ps-2">
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-4 p-3">
                        <p-checkbox 
                        value="Alternance" 
                        inputId="alternance" />
                    <label for="alternance" class="ms-2">Alternance</label>
                    </div>
                </div>
               
            </div>
           
        </form>  
        <button type="button" (click)="goToNextTab()" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Next</button>
        </mat-tab>
        <mat-tab label="New tag">
            <h3 class="mt-3">New tag</h3>  
        <form class="px-1 mb-5 pb-5">
            <div class="row">
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="source" class="position-absolute px-2">Source</label>
                        <!-- <input type="text" class="border-0 w-100 bg-white ps-2" > -->
                         <select class="border-0 w-100 bg-white ps-2" id="source" mul>
                            @for (source of sources; track source) {
                                <option [value]="source.value">{{source.viewValue}}</option>
                            }
                         </select>
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="lang" class="position-absolute px-2">Language</label>
                        <!-- <input type="text" class="border-0 w-100 bg-white ps-2"  > -->
                         <select class="border-0 w-100 bg-white ps-2" for="lang" single>
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Both">Both</option>
                         </select>
                      </div>
                    

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="fieldOFInterest" class="position-absolute px-2">Field of Interest</label>
                        <select class="border-0 w-100 bg-white ps-2" id="fieldOfInterest">
                            @for (fos of fieldOfInterest; track fos) {
                                <option [value]="fos.value">{{fos.viewValue}}</option>
                            }
                         </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="school" class="position-absolute px-2">Current/previous school</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="Add Current/previous school">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="entry_level" class="position-absolute px-2">Entry level(desired)</label>
                        <!-- <input type="text" class="border-0 w-100 bg-white ps-2" > -->
                        <select class="border-0 w-100 bg-white ps-2" single>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="M1">M1</option>
                            <option value="M2">M2</option>
                            <option value="MS">MS</option>
                            <option value="MBA">MBA</option>
                            <option value="MIM">MIM</option>
                          </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="intake" class="position-absolute px-2">Intake</label>
                        <select class="border-0 w-100 bg-white ps-2" for="lang" single>
                            <option value="January">January</option>
                            <option value="September">September</option>
                         </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                        <label for="Year" class="position-absolute px-2">Year</label>
                        <!-- <input type="number" class="border-0 w-100 bg-white ps-2"> -->
                        <select class="border-0 w-100 bg-white ps-2" for="lang" single>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>

                         </select>
                    </div>
                </div>
               
            </div>
           
        </form>  
        <button type="button" (click)="goToNextTab()" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Next</button>
        </mat-tab>
        <mat-tab label="Score">score</mat-tab>
        <mat-tab label="Language test">
            <h3 class="mt-3">Language test</h3>  
            <div class="lang-con">
                <mat-tab-group>
                        <mat-tab label="English">
                            <form class="px-1 mb-5 pb-5 mt-3"> 
                                <div class="row">
                                <div class="col-6">
                                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                                        <label for="english_test" class="position-absolute px-2">English test</label>
                                        <select class="border-0 w-100 bg-white ps-2" for="english_test" placeholder="English test">
                                            <option value="ILETS">ILETS</option>
                                            <option value="TOEFL">TOEFL</option>
                                            <option value="Duolingo">Duolingo</option>
                                            <option value="Easy speaking">Easy speaking</option>
                                         </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                                        <label for="en_score" class="position-absolute px-2">Score</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" id="en_score" placeholder="Score">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </mat-tab>
                        <mat-tab label="French">
                            <form class="px-1 mb-5 pb-5 mt-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                                            <label for="french_test" class="position-absolute px-2">French test</label>
                                            <select class="border-0 w-100 bg-white ps-2" for="french_test" placeholder="French test">
                                                <option value="DELF">DELF</option>
                                                <option value="TOEFL">DALF</option>
                                                <option value="TCF">TCF</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                                            <label for="score" class="position-absolute px-2">Score</label>
                                            <select class="border-0 w-100 bg-white ps-2" for="score" placeholder="Score">
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="C1">C1</option>
                                                <option value="C1">C2</option>
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>    
                </mat-tab-group>
            </div>
            <button type="submit" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Done</button>
        </mat-tab>                
      </mat-tab-group>

</div>


