<div class="container modal-con py-4 px-3 position-relative">
    <button type="button" class="btn-close position-absolute" aria-label="Close" (click)="closeModal()"></button>
  <div class="d-flex justify-content-center mb-4">
    <div class="radio-toolbar text-center">
        <input type="radio" id="radio1" name="leadType" value="0" [(ngModel)]="selectedLeadType"/>
        <label for="radio1" [class.checked]="selectedLeadType === '0'">Direct Lead</label>
      
        <input type="radio" id="radio2" name="leadType" value="1" [(ngModel)]="selectedLeadType" />
        <label for="radio2" [class.checked]="selectedLeadType === '1'">Future Lead</label>
      </div> 
  </div>                         
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" [dynamicHeight]='true'>
        <mat-tab label="Main information" class="mainInfoTab">
        <h3 class="mt-3">Information</h3>  
        <form class="px-1 mb-5 pb-5">
            <div class="row">
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="fname" class="position-absolute px-2">First Name</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe">
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="lname" class="position-absolute px-2">Last Name</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="John Doe" >
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Nationality</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="France">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Country of Residence</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="France">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Email</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="Johndoe@gmail.com">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Phone Number</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                        <label for="nationality" class="position-absolute px-2">Maximum budget/year</label>
                        <input type="number" class="border-0 w-100 bg-white ps-2">
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-4 p-3">
                        <p-checkbox 
                        value="Alternance" 
                        inputId="alternance" />
                    <label for="alternance" class="ms-2">Alternance</label>
                    </div>
                </div>
               
            </div>
           
        </form>  
        <button type="button" (click)="goToNextTab()" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Next</button>
        </mat-tab>
        <mat-tab label="New tag">
            <h3 class="mt-3">New tag</h3>  
        <form class="px-1 mb-5 pb-5">
            <div class="row">
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="source" class="position-absolute px-2">Source</label>
                         <select class="border-0 w-100 bg-white ps-2" id="source" mul>
                            @for (source of sources; track source) {
                                <option [value]="source.value">{{source.viewValue}}</option>
                            }
                         </select>
                      </div>

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="lang" class="position-absolute px-2">Language</label>
                         <select class="border-0 w-100 bg-white ps-2" id="lang" single>
                            <option value="English">English</option>
                            <option value="French">French</option>
                            <option value="Both">Both</option>
                         </select>
                      </div>
                    

                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 mb-1 p-3 rounded-5">
                        <label for="fieldOFInterest" class="position-absolute px-2">Field of Interest</label>
                        <select class="border-0 w-100 bg-white ps-2" id="fieldOfInterest">
                            @for (fos of fieldOfInterest; track fos) {
                                <option [value]="fos.value">{{fos.viewValue}}</option>
                            }
                         </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="school" class="position-absolute px-2">Current/previous school</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" placeholder="Add Current/previous school">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="entry_level" class="position-absolute px-2">Entry level(desired)</label>
                        <select class="border-0 w-100 bg-white ps-2" single>
                            <option value="B1">B1</option>
                            <option value="B2">B2</option>
                            <option value="B3">B3</option>
                            <option value="M1">M1</option>
                            <option value="M2">M2</option>
                            <option value="MS">MS</option>
                            <option value="MBA">MBA</option>
                            <option value="MIM">MIM</option>
                          </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="intake" class="position-absolute px-2">Intake</label>
                        <select class="border-0 w-100 bg-white ps-2" id="intake" single>
                            <option value="January">January</option>
                            <option value="September">September</option>
                         </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                        <label for="year" class="position-absolute px-2">Year</label>
                        <select class="border-0 w-100 bg-white ps-2" id="year" single>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>

                         </select>
                    </div>
                </div>
               
            </div>
           
        </form>  
        <button type="button" (click)="goToNextTab()" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Next</button>
        </mat-tab>
        <mat-tab label="Score">
            <form class="py-4">
                <h3 class="text-black mb-4">What is your current status?</h3>
                <div class="row mb-4">
                    <div class="col-4">
                        <button class="border-0 p-2 rounded-2 d-flex justify-content-between align-items-center bg-lightgrey" (click)="onButtonClick(1)" [class.clicked]="selectedButton === 1">
                            <input type="radio" class="me-2" name="current_status" [checked]="selectedButton === 1" (click)="onRadioClick($event, 1)" >
                            <label for="highSchool">I am in High School </label>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="border-0 p-2 rounded-2 d-flex justify-content-between align-items-center bg-lightgrey" (click)="onButtonClick(2)" [class.clicked]="selectedButton === 2">
                            <input type="radio" class="me-2" name="current_status"  [checked]="selectedButton === 2" (click)="onRadioClick($event, 2)">
                            <label for="">I am in university </label>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="border-0 p-2 rounded-2 d-flex justify-content-between align-items-center bg-lightgrey" (click)="onButtonClick(3)" [class.clicked]="selectedButton === 3">
                            <input type="radio" class="me-2" name="current_status" [checked]="selectedButton === 3" (click)="onRadioClick($event, 3)">
                            <label for="">I have Graduated </label>
                        </button>
                    </div>
                </div>
                <div  *ngIf="selectedButton === 1" class="mb-4">
                    <div class="row">
                       <div class="col-3">
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">First Year </label>
                        </button>
                       </div>
                       <div class="col-3">
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">12th Grade </label>
                        </button>
                       </div>
                    </div>
                </div>
                <div  *ngIf="selectedButton === 2" class="mb-4">
                    <div class="d-flex justify-content-between">
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">First Year </label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">Second Year </label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">Third Year </label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">Fourth Year </label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input type="checkbox" class="me-2" name="current_status">
                            <label for="">Above </label>
                        </button>
                    </div>
                </div>
                <div *ngIf="selectedButton === 3" class="mb-4">
                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                        <label for="edu-level" class="position-absolute px-2">Level of Education</label>
                        <input type="text" class="border-0 w-100 bg-white ps-2" id="edu-level" placeholder="Score">
                    </div>
                </div>
                <mat-divider class="divider-color mt-1"></mat-divider>
               <div class="status-container mb-5">
                <h3 class="text-black mt-3 mb-4">What is your current status?</h3>
                <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                    <label for="status" class="position-absolute px-2">Status</label>
                    <select class="border-0 w-100 bg-white ps-2" id="status" single>
                        <option value="Business and Management">Business and Management</option>
                     </select>
                </div>
               </div>
                <mat-divider class="divider-color"></mat-divider>
                <h3 class="text-black mt-3 mb-4">Language test</h3>
                <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                    <label for="language-test" class="position-absolute px-2">Status</label>
                    <select class="border-0 w-100 bg-white ps-2" id="language-test" (change)="onOptionChange($event)">
                        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
                      </select>
                </div>
                
                <div *ngIf="selectedOption === 'English'" class="mb-4 mt-3 graduated mx-2">
                    <h4 class="mb-3">Do you have an English language proficiency test?</h4>
                    <div class="d-flex justify-content-between mb-3">
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" [class.checked-btn]="selectedCheckboxBtn === 1" (click)="onCheckboxBtnClick(1)">
                            <input id="yes" type="checkbox" class="me-2" [checked]="selectedCheckboxBtn === 1" (click)="onCheckboxClick($event,1)" name="proficiency-test">
                            <label for="yes">Yes,I have.</label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" [class.checked-btn]="selectedCheckboxBtn === 2" (click)="onCheckboxBtnClick(2)">
                            <input id="maybe" type="checkbox" class="me-2" [checked]="selectedCheckboxBtn === 2" (click)="onCheckboxClick($event,2)" name="proficiency-test">
                            <label for="maybe">I am planning to take one.</label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" [class.checked-btn]="selectedCheckboxBtn === 3" (click)="onCheckboxBtnClick(3)">
                            <input id="no" type="checkbox" class="me-2" [checked]="selectedCheckboxBtn === 3" (click)="onCheckboxClick($event,3)" name="proficiency-test">
                            <label for="no">I do not have a test.</label>
                        </button> 
                    </div>
                       <div class="testYes" *ngIf="selectedCheckboxBtn === 1">
                        <h4 class="mb-3">Which test did you take?</h4>
                        <div class="d-flex justify-content-between mb-4">
                            <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" (click)="onTestBtnClick('ILETS')" [class.checked-btn]="selectedTest === 'ILETS'">
                                <input id="ILETS" type="checkbox" [checked]="selectedTest === 'ILETS'" (click)="onTestClick($event,'ILETS')" class="me-2" name="english-test">
                                <label for="ILETS">ILETS</label>
                            </button>
                            <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" (click)="onTestBtnClick('TOEFL')" [class.checked-btn]="selectedTest === 'TOEFL'">
                                <input id="TOEFL" type="checkbox"  [checked]="selectedTest === 'TOEFL'" (click)="onTestClick($event,'TOEFL')" class="me-2" name="english-test">
                                <label for="TOEFL">TOEFL</label>
                            </button>
                            <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" (click)="onTestBtnClick('Duolingo')" [class.checked-btn]="selectedTest === 'Duolingo'">
                                <input id="Duolingo" type="checkbox"  [checked]="selectedTest === 'Duolingo'" (click)="onTestClick($event,'Duolingo')" class="me-2" name="english-test">
                                <label for="Duolingo">Duolingo</label>
                            </button>
                            <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" (click)="onTestBtnClick('Easy speaking')" [class.checked-btn]="selectedTest === 'Easy speaking'">
                                <input id="easy-speaking" type="checkbox"  [checked]="selectedTest === 'Easy speaking'" (click)="onTestClick($event,'Easy speaking')" class="me-2" name="english-test">
                                <label for="easy-speaking">Easy speaking</label>
                            </button>
                        </div>
                        <div class="testScore mt-5" *ngIf="selectedTest === 'ILETS' || selectedTest === 'TOEFL' || selectedTest === 'Duolingo' || selectedTest === 'Easy speaking'">
                            <div class="d-flex justify-content-end graduated" *ngIf="selectedTest === 'ILETS'">
                                <p class="mb-0 test-score">What is your score(1-9)?</p>
                            </div>
                            <div class="d-flex justify-content-end graduated" *ngIf="selectedTest === 'TOEFL'">
                                <p class="mb-0 test-score">What is your score(10-120)?</p>
                            </div>
                            <div class="d-flex justify-content-end graduated" *ngIf="selectedTest === 'Duolingo'">
                                <p class="mb-0 test-score">What is your score(10-160)?</p>
                            </div>
                            <div class="d-flex justify-content-end graduated" *ngIf="selectedTest === 'Easy speaking'">
                                <p class="mb-0 test-score">What is your score(1-100)?</p>
                            </div>
                            <div class="input-caption position-relative mb-1 p-3 rounded-5">
                                <label for="en_score" class="position-absolute px-2">Score</label>
                                <input type="number" class="border-0 w-100 bg-white ps-2" >
                              </div>
                        </div>

                       </div>
                </div>
                <div *ngIf="selectedOption === 'French'" class="mb-4 mt-3 graduated mx-2">
                    <h4 class="mb-3">Do you have a French language proficiency test?</h4>
                    <div class="d-flex justify-content-between mb-3">
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn" (click)="onCheckboxBtnClick(2)">
                            <input id="yes" type="checkbox" class="me-2" [checked]="selectedCheckboxBtn === 2" (click)="onCheckboxClick($event,2)" name="proficiency-test">
                            <label for="yes">Yes,I have.</label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input id="maybe" type="checkbox" class="me-2" name="proficiency-test">
                            <label for="maybe">I am planning to take one.</label>
                        </button>
                        <button class="p-2 rounded-2 d-flex justify-content-between align-items-center check-btn">
                            <input id="no" type="checkbox" class="me-2" name="proficiency-test">
                            <label for="no">I do not have a test.</label>
                        </button> 
                    </div>
                       <div class="testYes" *ngIf="selectedCheckboxBtn === 2">
                        <h4 class="mb-3">Which test did you take?</h4>
                        <div class="mb-4">
                            <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                                <label for="french_test" class="position-absolute px-2">Test</label>
                                <select class="border-0 w-100 bg-white ps-2" for="french_test" placeholder="French test">
                                    <option value="DELF">DELF</option>
                                    <option value="TOEFL">DALF</option>
                                    <option value="TCF">TCF</option>
                                 </select>
                            </div>
                            <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                                <label for="score" class="position-absolute px-2">Score</label>
                                <select class="border-0 w-100 bg-white ps-2" for="score" placeholder="Score">
                                    <option value="B1">B1</option>
                                    <option value="B2">B2</option>
                                    <option value="C1">C1</option>
                                    <option value="C1">C2</option>
                                 </select>
                            </div>
                            
                        </div>
                       </div>
                </div>
            </form>
            <button type="button" (click)="goToNextTab()" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Next</button>
        </mat-tab>
        <mat-tab label="Language test">
            <h3 class="mt-3">Language test</h3>  
            <div class="lang-con">
                <mat-tab-group>
                        <mat-tab label="English">
                            <form class="px-1 mb-5 pb-5 mt-3"> 
                                <div class="row">
                                <div class="col-6">
                                    <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                                        <label for="english_test" class="position-absolute px-2">English test</label>
                                        <select class="border-0 w-100 bg-white ps-2" for="english_test" placeholder="English test">
                                            <option value="ILETS">ILETS</option>
                                            <option value="TOEFL">TOEFL</option>
                                            <option value="Duolingo">Duolingo</option>
                                            <option value="Easy speaking">Easy speaking</option>
                                         </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                                        <label for="en_score" class="position-absolute px-2">Score</label>
                                        <input type="text" class="border-0 w-100 bg-white ps-2" id="en_score" placeholder="Score">
                                    </div>
                                </div>
                            </div>
                        </form>
                        </mat-tab>
                        <mat-tab label="French">
                            <form class="px-1 mb-5 pb-5 mt-3">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="input-caption position-relative my-4 p-3 mb-1 rounded-5">
                                            <label for="french_test" class="position-absolute px-2">French test</label>
                                            <select class="border-0 w-100 bg-white ps-2" for="french_test" placeholder="French test">
                                                <option value="DELF">DELF</option>
                                                <option value="TOEFL">DALF</option>
                                                <option value="TCF">TCF</option>
                                             </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-caption position-relative mt-4 p-3 mb-1 rounded-5">
                                            <label for="score" class="position-absolute px-2">Score</label>
                                            <select class="border-0 w-100 bg-white ps-2" for="score" placeholder="Score">
                                                <option value="B1">B1</option>
                                                <option value="B2">B2</option>
                                                <option value="C1">C1</option>
                                                <option value="C1">C2</option>
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>    
                </mat-tab-group>
            </div>
            <button type="submit" class="d-flex justify-content-end doneBtn border-0 mb-3 px-5 py-3 rounded-5 ms-auto">Done</button>
        </mat-tab>                
      </mat-tab-group>

</div>


