<div cdkDropListGroup>
    <div class="grid_container">
        <div class="d-flex align-items-center">
            <h2>Invited Leads</h2>
            <div class="count InvitedataColor">{{Invitedata.length}}</div>
        </div>

        <div cdkDropList [cdkDropListData]="Invitedata" class="grid_list" (cdkDropListDropped)="drop($event)">
            <div class="drag_con">
                @for (item of Invitedata; track item) {
                <div class="drag-box" cdkDrag>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card_name">
                            {{item.name}}
                        </div>
                        <div class="card_actions">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="card_nationality">
                        {{item.nationality}}
                    </div>
                    <div class="score_emp">
                        <div class="card_score" [class.score_hight]="item.score >= 3" [class.score_low]="item.score < 3">
                            Score {{item.score}}
                        </div>
                        <div class="emp_name">
                            <i class="far fa-user"></i>
                            <span>{{item.emp}}</span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="grid_container">
        <div class="d-flex align-items-center">
            <h2>Account created</h2>
            <div class="count accountCreatedColor">{{AccountData.length}}</div>
        </div>

        <div cdkDropList [cdkDropListData]="AccountData" class="grid_list" (cdkDropListDropped)="drop($event)">
            <div class="drag_con">
                @for (item of AccountData; track item) {
                <div class="drag-box" cdkDrag>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card_name">
                            {{item.name}}
                        </div>
                        <div class="card_actions">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="card_nationality">
                        {{item.nationality}}
                    </div>
                    <div class="score_emp">
                        <div class="card_score" [class.score_hight]="item.score >= 3" [class.score_low]="item.score == 1" [class.score_yellow]="item.score == 2">
                            Score {{item.score}}
                        </div>
                        <div class="emp_name">
                            <i class="far fa-user"></i>
                            <span>{{item.emp}}</span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="grid_container">
        <div class="d-flex align-items-center">
            <h2 class="sentToTitle">Send to prospect</h2>
            <!-- <div class="count accountCreatedColor">{{AccountData.length}}</div> -->
        </div>

        <div cdkDropList [cdkDropListData]="sentToProspect" class="grid_list sendTo" (cdkDropListDropped)="drop($event)">
            <div class="drag_con prospect_con">
                <h4>Drag the student card here</h4>
                @for (item of sentToProspect; track item) {
                <div class="drag-box" cdkDrag>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card_name">
                            {{item.name}}
                        </div>
                        <div class="card_actions">
                            <button mat-button [matMenuTriggerFor]="menu">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Item 1</button>
                                <button mat-menu-item>Item 2</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="card_nationality">
                        {{item.nationality}}
                    </div>
                    <div class="score_emp">
                        <div class="card_score">
                            Score {{item.score}}
                        </div>
                        <div class="emp_name">
                            <i class="far fa-user"></i>
                            <span>{{item.emp}}</span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    
    <!-- <div class="grid_container">
        <h2 class="sentToTitle">Send to prospects</h2>
        <div cdkDropList [cdkDropListData]="sentToProspectData" class="grid_list" (cdkDropListDropped)="drop($event)">
            <div class="drag_con send_to_prospect">
                <h4>Drag the student card here</h4>
                @for (item of sentToProspectData; track item) {
                    <div class="drag-box" cdkDrag>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card_name">
                                {{item.name}}
                            </div>
                            <div class="card_actions">
                                <button mat-button [matMenuTriggerFor]="menu">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>Item 1</button>
                                    <button mat-menu-item>Item 2</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="card_nationality">
                            {{item.nationality}}
                        </div>
                        <div class="score_emp">
                            <div class="card_score">
                                Score {{item.score}}
                            </div>
                            <div class="emp_name">
                                <i class="far fa-user"></i>
                                <span>{{item.emp}}</span>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
    </div> -->
</div>