@import '../authStyle.scss';

.input-caption .toggle-password-icon{
    position: absolute;
    top:15px;
    right: 14px;
    cursor: pointer;
    font-size: 24px;
    color: #C0BDCC !important;
    z-index: 22;
    
}