// background color
$bg-color: #F5F7FA;

// main colors
$Primary-color: #AA80F9;
$Secondary-color: #B1A9D4;

// State-Color
$State-Color-1: #7F6ECC;
$State-Color-2: #C3A6FB;
$State-Color-3: #FF8723;
$State-Color-4: #FFCA57;
$State-Color-5: #45BF67;
$State-Color-6: #7DD295;
$State-Color-7: #216FED;
$State-Color-8: #649AF2;

// Font Sizes

$font-28: 28px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-15: 15px;
$font-14: 14px;
$font-13: 13px;
