// background color
$bg-color: #F5F7FA;
$min-text: #121212;
// main colors
$Primary-color: #AA80F9;
$Secondary-color: #B1A9D4;
$sidebar-color:#FAFBFF;
$sidebar-border: #e8e8e8;

// State-Color
$State-Color-1: #7F6ECC;
$State-Color-2: #C3A6FB;
$State-Color-3: #FF8723;
$State-Color-4: #FFCA57;
$State-Color-5: #45BF67;
$State-Color-6: #7DD295;
$State-Color-7: #216FED;
$State-Color-8: #649AF2;
$State-Color-9: #E6EFF5;
$light-gray: #D9D9D9;
$white-color: #fff;
$red-color: #FE5C73;
$white_gray:#F4F5FB;
$semi-dark-gray2: #636363;
$gray:#848484;

$shadow:0px 3px 20px 0px  #9431BD80;

//gradient-colors:

$left-color:#8574CA;
$right-color:#B1A9D4;
//border-color:
$border-color:#EBEBEB;
$border-shadow:0px 4px 8px 0 #0000001A;
$btn-shadow: 0px 2px 20px 0px #9431BD80;
$white-yellow:#FFEDA9;



// Font Sizes

$font-28: 28px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-15: 15px;
$font-14: 14px;
$font-13: 13px;
$font-12: 12px;

$Radius: 70px;
$transition2:  all .2s ease-in-out;


