@use '@angular/material' as mat;
@import './default.scss';


body {
    background-color: $bg-color;
    color: $main-text;
}

ul {
    padding: 0;
}

.p-datatable {
    .p-datatable-thead {

        &>tr {
            &>th {
                background-color: $white-color;
                border-bottom: 1px solid $State-Color-9;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .p-datatable-tbody {
        &>tr {
            &>td {
                border-bottom: 1px solid $State-Color-9;
            }
        }
    }
}

$theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            )));

body {
    @include mat.all-component-themes($theme);
}

html {
    height: 100%;
}

.mat-mdc-menu-content {
    background-color: $white-color;

    .mdc-button__label {
        color: $main-text;
    }

    .mat-mdc-menu-item {
        min-height: 40px;

        svg {
            margin-right: 10px;
        }
    }
}

.progress-container .p-progressbar {
    background: #e8e8e8;
    border-radius: 100px;
    height: 4px;
}

.progress-container .progress-green .p-progressbar-value {
    background-color: #45BF67;
    border-radius: 100px;
}

.green {
    background-color: #45BF67;
}

.red {
    background-color: #ca3c3c;
}

.yellow {
    background: #FFD844;
}

.orange {
    background-color: #FD955B;
}

.progress-container .progress-red .p-progressbar-value {
    background-color: #ca3c3c;
    border-radius: 100px;
}

.progress-container .progress-yellow .p-progressbar-value {
    background: #FFD844;
    border-radius: 100px;
}

.progress-container .progress-orange .p-progressbar-value {
    background-color: #FD955B;
    border-radius: 100px;
}

.p-datatable-wrapper {
    height: calc(100vh - 425px) !important;
}

.reminder_bar {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 12px;
    color: $main-text !important
}

.p-badge {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.p-element {
    &.p-editable-column {
        input {
            width: 100%;
            padding: 6px !important;
        }

        .p-dropdown-label {
            padding: 6px !important;
        }
    }
}

.main-modal {
    .modal-dialog {
        .modal-content {
            padding: 20px;
        }
    }
}

.validation_msg {
    padding: 0;
    color: $red-color;
    font-size: 14px;
}

.activeGrid {
    .grid_btn {
        background-color: $State-Color-2 !important;
    }
}

.activeList {
    .line_btn {
        background-color: $State-Color-2 !important;
    }
}

.mat-mdc-button:not(:disabled) {
    color: $gray !important;
    top: -16px;
    right: -10px;
}

table {
    .mat-mdc-button:not(:disabled) {
        color: $gray !important;
        top: 0px;
        right: 0px;
    }
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);