
<section class="login-section bg-info m-0 overflow-x-hidden vh-100 p-4 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="heading d-flex justify-content-center mb-5">
            <a routerLink="/"><img src="./assets/images/studentgator-logo.svg" alt="logo" height="50px"></a>
        </div>
        <div class="login-card bg-white rounded-5 w-50  m-auto">
             <div class="card-con py-5 px-3">
                  <div class="row card-content d-flex justify-content-between w-100">
                 
                    <div class="col-7 card-left-content">
                        <div class="card-title mt-4 text-center text-black mb-4">
                            <h3>Verify Code</h3>
                        </div>
                       <div class="card-left-con pt-4">
                        <form>
                          <div class="d-flex justify-content-evenly align-items-center mb-5">
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          <div class="code-card bg-white rounded-3"><input type="number" class="border-0"></div>
                          </div>

                         
                       <div class="login-btn d-flex me-auto mb-4">
                        <button class="w-100 border-0 rounded-5 px-4 py-3 text-light">Verify <img src="./assets/images/login-page/right-arrow.png" class="ms-2" alt=""></button>
                       
                       </div>
                        </form>
                       
    
                       </div>
                    </div>
                    <div class="col-5 card-right d-flex align-items-center pe-0">
                        <img src="./assets/images/login-page/loginImage.png" class="w-100 p-0" alt="">
                    </div>
                  </div>
             </div>
        </div>
    </div>
    </section>
    
    
    
    
    
    
    
    
    
