<div class="leads">
    <h3>Lead management</h3>
    <div class="d-flex justify-content-between align-items-center">
        <app-main-filter></app-main-filter>
        <app-main-actions [addTitle]="btn_title"></app-main-actions>
    </div>
    <div>
        <div class="component_table card">
            <p-table [value]="leads" [scrollable]="true" [paginator]="true" [rows]="9"
                [rowsPerPageOptions]="[5, 10, 20]"
                [globalFilterFields]="['name', 'leads.name', 'leads.phone_number', 'phone_number']" #dt2>
                <ng-template pTemplate="caption">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon style="position: relative;top: -3px; left: 4px;">
                            <i class="fas fa-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Search in Leads" style="border-radius: 70px; height: 45px;" />
                    </p-iconField>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                        <th style="width: 10rem">ID</th>
                        <th pSortableColumn="name" style="min-width: 200px">Name <p-sortIcon field="name" /></th>
                        <th pSortableColumn="score" style="min-width: 100px">Score <p-sortIcon field="score" /></th>
                        <th pSortableColumn="remindes" style="min-width: 200px">Remindes <p-sortIcon field="remindes" />
                        </th>
                        <th pSortableColumn="status" style="min-width: 200px">Status <p-sortIcon field="status" /></th>
                        <th pSortableColumn="phone_number" style="min-width: 200px">Phone number <p-sortIcon
                                field="phone_number" /></th>
                        <th pSortableColumn="email_address" style="min-width: 300px">Email Address <p-sortIcon
                                field="email_address" /></th>
                        <th pSortableColumn="tags" style="min-width: 300px">Tags <p-sortIcon field="tags" /></th>
                        <th pSortableColumn="source" style="min-width: 300px">Source <p-sortIcon field="source" /></th>
                        <th style="width: 8rem;"></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-leads let-editing="editing" let-rowIndex="rowIndex">
                    <tr>
                        <td style="width: 4rem">
                            <p-tableCheckbox [value]="leads" />
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="leads.id" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ leads.id }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.name" pEditableColumnField="name">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="leads.name" required />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ leads.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.score" pEditableColumnField="score">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="scores" appendTo="body" [(ngModel)]="leads.score"
                                        [style]="{ width: '100%' }"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="d-flex justify-content-center">
                                        <p-badge [styleClass]="getScoreColor(leads.score)"
                                            [value]="leads.score"></p-badge>
                                    </div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn [pEditableColumnField]="'reminders'" [pEditableColumnRowIndex]="rowIndex">
                            <div class="progress-container position-relative">
                                <span class="reminder_bar" *ngIf="leads.reminder != undefined">
                                    {{ leads.reminder > 25 ? "25+ days" : leads.reminder === 1 ? leads.reminder + "
                                    day": leads.reminder + " days"
                                    }}</span>
                                <p-progressBar [ngClass]="getProgressColor(leads.reminder)"
                                    [value]="setProgressValue(leads.reminder)" [showValue]="false"></p-progressBar>
                            </div>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="leads.status" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="status_styles" [class.invited_lead]="leads.status == 'Invited Leads'"
                                        [class.invited_lead]="leads.status == 'Invited lead'"
                                        [class.docs_uploaded]="leads.status == 'Docs uploaded'"
                                        [class.account_created]="leads.status == 'Account Created'">
                                        {{ leads.status }}
                                    </div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.phone_number" pEditableColumnField="phone_number">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="leads.phone_number" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ leads.phone_number }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.email_address" pEditableColumnField="email_address">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="leads.email_address" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ leads.email_address }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.tags" pEditableColumnField="tags">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-multiSelect [options]="tags" display="chip" placeholder="Select sources"
                                        [(ngModel)]="leads.tags" [style]="{ width: '100%' }"
                                        appendTo="body"></p-multiSelect>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="selected_select">{{ leads.tags }}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="leads.source" pEditableColumnField="source">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-multiSelect [options]="sources" display="chip" placeholder="Select sources"
                                        [(ngModel)]="leads.source" [style]="{ width: '100%' }"
                                        appendTo="body"></p-multiSelect>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <div class="selected_select">{{ leads.source }}</div>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <button mat-button [matMenuTriggerFor]="menu" icon="pi pi-ellipsis-v">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openModal(studentView, 'comments-modal', 'lg', [])">
                                    <i class="far fa-eye"></i>
                                    <span>View</span>
                                </button>
                                <ng-template #studentView let-d="dismiss">
                                    <div class="container py-5 px-4">

                                        <mat-tab-group>
                                            <mat-tab label="Main information" class="mainInfoTab">
                                                <h3 class="mt-3">Information</h3>
                                                <form class="px-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="fname" class="position-absolute px-2">First
                                                                    Name</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>

                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="lname" class="position-absolute px-2">Last
                                                                    Name</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>

                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="nationality"
                                                                    class="position-absolute px-2">Nationality</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="nationality"
                                                                    class="position-absolute px-2">Country of
                                                                    Residence</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="nationality"
                                                                    class="position-absolute px-2">Email</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="nationality"
                                                                    class="position-absolute px-2">Phone Number</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div
                                                                class="input-caption position-relative mt-4 p-3 rounded-5">
                                                                <label for="nationality"
                                                                    class="position-absolute px-2">Maximum
                                                                    Budget</label>
                                                                <input type="text" class="border-0 w-100 bg-white ps-2">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </mat-tab>
                                            <mat-tab label="New tag">newTag </mat-tab>
                                            <mat-tab label="Score">score</mat-tab>
                                            <mat-tab label="Language test">langTest</mat-tab>

                                        </mat-tab-group>
                                    </div>
                                </ng-template>
                                <button mat-menu-item [matMenuTriggerFor]="assign">
                                    <i class="fas fa-share-square"></i>
                                    <span>Assign</span>
                                </button>
                                <mat-menu #assign="matMenu">
                                    <button mat-menu-item (click)="sendToMe(leads.username)">
                                        For Me
                                    </button>
                                    <button mat-menu-item [matMenuTriggerFor]="others">
                                        For Others
                                    </button>

                                    <mat-menu #others="matMenu">
                                        <button mat-menu-item *ngFor="let emp of employees"
                                            (click)="assignToEmployee(leads.username, emp.username)">
                                            {{ emp.name }}
                                        </button>
                                    </mat-menu>
                                </mat-menu>

                                <button mat-menu-item (click)="
                                  openModal(comments, 'main-modal', 'lg', leads.email)
                                ">
                                    <i class="far fa-comment-dots"></i>
                                    <span>Comments</span>
                                </button>
                                <ng-template #comments let-d="dismiss">
                                    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit(commentForm)"
                                        class="comment_form">
                                        <h4>Comments of <span> {{leads.name}} </span></h4>
                                        <textarea formControlName="comment" placeholder="Your Comment"></textarea>
                                        <p class="validation_msg" *ngIf="commentForm.get('comment')?.hasError('required') && commentForm.get('comment')?.touched">Comment is required.</p>
                                        <h5>Emp Name <span>10:40</span></h5>
                                        <div class="d-flex justify-content-end">
                                            <button>Send</button>
                                        </div>
                                    </form>
                                </ng-template>
                                <button mat-menu-item (click)="sendToProspect(leads.username)">
                                    <i class="fas fa-redo-alt"></i>
                                    <span>Send to Prospect</span>
                                </button>

                                <button mat-menu-item
                                    (click)="openModal(archiveView, 'main-modal', 'lg',  leads.email)">
                                    <i class="far fa-trash-alt"></i>
                                    <span>Archive</span>
                                </button>
                                <ng-template #archiveView let-d="dismiss">
                                    <form [formGroup]="archiveCommentForm" (ngSubmit)="onArchiveCommentSubmit(archiveCommentForm)"
                                    class="comment_form">
                                    <h4>Archive Comment</h4>
                                    <textarea formControlName="archiveComment" placeholder="Your Archive Comment"></textarea>
                                    <p class="validation_msg" *ngIf="archiveCommentForm.get('archiveComment')?.hasError('required') && archiveCommentForm.get('archiveComment')?.touched">Archive Comment is required.</p>
                                    <h5>Emp Name <span>10:40</span></h5>
                                    <div class="d-flex justify-content-end">
                                        <button>Send</button>
                                    </div>
                                </form>
                                </ng-template>

                                <button mat-menu-item (click)="openModal(student_View, 'main-modal', 'lg', [])">
                                    <i class="far fa-eye"></i>
                                    <span>View</span>
                                </button>
                                <ng-template #student_View let-d="dismiss">
                                    <app-student-data></app-student-data>
                                </ng-template>

                            </mat-menu>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>